$body-color: #666;
$border-color: #0A64BC;
$link-color: #0A64BC;
$link-color-hover: #05325E;
$button-color: #0A64BC;
$button-color-border: #0A64BC;
$button-color-active: #05325E;
$heading-color: #333;
$label-color-background: #fcfcfc;
$label-color-border: #e6e6e6;
$label-color-background-focus: #fff;
$label-color-border-focus: #ccc;