    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer">
                        <p>All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>