<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://kit.fontawesome.com/b45ddc61d3.js"></script>
    <title>{{ page.title }}</title>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.description }}">
    <meta itemprop="image" content="assets/j-cornelius-social-card.png?001">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jc">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:creator" content="@jc">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="assets/j-cornelius-social-card.png?001">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://jcornelius.com" />
    <meta property="og:image" content="assets/j-cornelius-social-card.png?001" />
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="{{ page.title }}" />
</head>
<body>
    <div class="main">