<div class="heading col align-self-center">
            <div class="container-toggle container">
                <div class="row">
                    <div class="title-container col-lg-12">
                        <div class="separator-container">
                            <div class="separator-container__separator"></div>
                        </div>
                        <h1 class="title-container__title">
                            <span>J Cornelius</span>
                        </h1>
                    </div>
                    <div class="description-container content">
                        <h2 class="description-container__description">
                            <span>Big Canoe POA Board Candidate</span>
                        </h2>
                    </div>
                </div>
            </div>